body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: white;
    color: white;
}

/* CABEZERA */

.cabezera {
    background-color: rgba(1,1,1,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(1rem);
    text-align: right;
}
.cabezera a{
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    
}
.cabezera a:hover{
    color: #6B7280;
}

/* PORTADA */

.portada {
    background-image: url(portada3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100%;
    color: white;
    position: relative;

}

.texto_p{
    position: absolute;
    top: 5.6rem;
    left: 10rem;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem white;
}
.titulo_p{
    position: absolute;
    top: 4.3rem;
    left: 10rem;
    font-size: 5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem white;
}
/* service */
#servicio{
    margin: 2rem;
}
.caja{
    display:grid;
    grid-template-columns: 50% 50%;
    max-width: 60rem;
}
.c4{
    grid-column: 1/2;
}
.descripcion{
    background-color: rgb(0, 0, 132);
    border-radius: 1rem;
    color: white;
    padding: 1.5rem;
    max-width: 60rem;
    max-height: 18.5rem;
    margin: auto;
}
/*about*/
#about{
    margin: 2rem;
}
.presentacion{
    display: grid;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: 20% 80%;

    background-color: rgb(0, 0, 132);
    border-radius: 1rem;
    color: white;
    padding: 1.5rem;
    max-width: 60rem;
    max-height: 18.5rem;
    margin: auto;
    box-shadow: 0.3rem 0.3rem 0.7rem rgba(0,0,0,0.7);

    transition: 1s ease;
}

.presentacion:hover{
    max-width: 41rem;
    max-height: 21rem;
}

#mi_foto{
    width: 12rem;
    border: 1rem;
    margin: auto;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    border-radius:  1rem;
}                      

.c1{
    grid-column: 1/3;
}
.c2{
    grid-column: 1/3;
    width: 20rem;
}
.c3{
    grid-row: 1/3;
    grid-column: 3/4;
    margin: 0 auto;
}
