body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: white;
    color: black;
}

hr {
    max-width: 60%;
}
/* CABEZERA */

.cabezera {
    background-color: rgba(1,1,1,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(1rem);
}
.cabezera a{
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    
}
.cabezera a:hover{
    color: #6B7280;
}

/* PORTADA */

.portada {
    background-image: url(portada3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100%;
    color: white;
    position: relative;

}

.texto_p{
    position: absolute;
    top: 5.6rem;
    left: 10rem;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem white;
}
.titulo_p{
    position: absolute;
    top: 4.3rem;
    left: 10rem;
    font-size: 5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem white;
}

/*about*/
#about{
    margin: 2rem;
}
.presentacion{
    display: grid;
    grid-template-columns: 30% 25% 50%;
    grid-template-rows: 15% 45% 30%;

    background-color: white;
    border-radius: 1rem;
    color: black;
    padding: 1.5rem;
    max-width: 45rem;
    max-height: 50rem;
    margin: auto;

    transition: 1s ease;
}

.presentacion:hover{
    box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0,0.3);
}

#mi_foto{
    width: 13rem;
    border: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    border-radius:  1rem;
}                      

.c1{
    grid-column: 1/3;
}
.c2{
    grid-column: 1/3;
    width: 20rem;
}
.c3{
    grid-row: 1/3;
    grid-column: 3/4;
    margin: auto;
}
.c4{
    grid-column: 1/4;
    width: 40rem;
}

/* Service */

#Service{
    margin: 2rem;
}
.steps{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 27% 80%;
    justify-content: space-between;

    max-width: 50rem;
    height: 30rem;
    margin: 0 auto;
    padding-top: 2rem;
    border-radius: 1rem;

}
.step{
    max-width: 13rem;
    max-height: 19rem;
    transition: 0.7s ease;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 auto;
}
.t1{
    grid-column: 1/4;
    text-align: center;
    font-size: 2.5rem;
}

.step:hover{
    box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0,0.3);
}

.planes{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    grid-template-rows: 40% 60% 10%;
    margin: 0 auto;
    max-width: 50rem;
    padding-bottom: 3rem;
}
.tinsidep{
    text-align: center;
    grid-column: 1/4;
    font-size: 300%;
}

.plan{  
    max-width: 20rem;
    height: 18rem;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;

    transition: 1s ease;

    display: grid;
    grid-template-rows: 20% 65% 10%;
}

.plan:hover{
    box-shadow: 0.1rem 0.1rem 0.5rem black;
    height: 19rem;
}

.basic{
    grid-column: 1/2;
    border-bottom: solid 0.2rem rgb(189, 0, 0);
    border-top: solid 0.1rem rgb(95, 95, 95);
}
.standard{
    grid-column: 2/3;
    border-bottom: solid 0.2rem rgb(43, 255, 0);
    border-top: solid 0.1rem rgb(95, 95, 95);
}
.premium{
    grid-column: 3/4;
    border-bottom:solid 0.2rem rgb(1, 255, 255);
    border-top: solid 0.1rem rgb(95, 95, 95);
}

.precio{
    position: relative;
    grid-row: 3/4;
}
/* footer */

.pie_web{
    background-image: url(portada3.png);
}
